*{
    margin: 0;
    padding: 0;
}

.item{
    width: 150px;
    height: 70px;
    background: #ccc;
    font-size: 30px;

}

.container{
    display: flex;
    justify-content: space-around;
    background: green;
    width: 80%;
    margin: 20px;
    gap: 10px; 
    /* gap da espacamento entre os itens */
}

.container2{
    display: flex;
    justify-content: space-between;
    background: green;
    width: 80%;
    margin: 20px;
}